@page "/"

@inject NavigationManager Navigation

<PageTitle>Cursos de Idiomas</PageTitle>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">¡Bienvenido al Curso de idiomas!</h1>
        <p class="lead">Aprende cualquier a tu propio ritmo con nuestro programa modular. Desde principiantes hasta niveles avanzados, tenemos cursos diseñados para ayudarte a alcanzar tus objetivos lingüísticos.</p>
        <p>
            Descubre nuestros seis niveles de curso:
            <ul class="list-inline">
                <li class="list-inline-item">A1.1</li>
                <li class="list-inline-item">A1.2</li>
                <li class="list-inline-item">A2.1</li>
                <li class="list-inline-item">A2.2</li>
                <li class="list-inline-item">B1.1</li>
                <li class="list-inline-item">B1.2</li>
            </ul>
        </p>
        <a class="btn btn-primary" @onclick="@(() => NavigateToCourses())">Explora nuestros cursos</a>
    </div>
</section>

<div class="container mt-2">
    <div class="row">
        <div class="col-md-4">
            <h2>Flexibilidad</h2>
            <p>Nuestros cursos modulares te permiten estudiar a tu propio ritmo y adaptar tu aprendizaje a tus horarios.</p>
        </div>
        <div class="col-md-4">
            <h2>Recursos Multimedia</h2>
            <p>Accede a una amplia gama de recursos multimedia, incluyendo videos, audio y actividades interactivas para mejorar tu comprensión y habilidades en inglés.</p>
        </div>
        <div class="col-md-4">
            <h2>Soporte Personalizado</h2>
            <p>Nuestros instructores altamente calificados te brindarán orientación y apoyo personalizado para asegurarse de que alcances tus metas de aprendizaje.</p>
        </div>
    </div>
</div>

@code{
    private void NavigateToCourses()
    {
        Navigation.NavigateTo("cursos");
    }
}