@page "/step2"

<div class="mb-2">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Home" />
        <RadzenBreadCrumbItem Text="Proceso de inscripcion de matricula" />
        <RadzenBreadCrumbItem Text="Pasos" />
        <RadzenBreadCrumbItem Text="Paso 2: Recibo de pago" />
    </RadzenBreadCrumb>
</div>

<RadzenNumeric @bind-Value=@NumeroIdentificacion Min="0" Placeholder="Numero de identificacion" />

<RadzenButton Text="Buscar" />

<p>PDF con el recibo</p>

@code
{
    int NumeroIdentificacion { get; set; }
}